.header {
  position: fixed;
  top: 0;
  padding: 1rem 1.5rem;
  display: flex;
  width: 100%;
  margin-inline: auto;
  align-items: center;
  justify-content: space-between;
  .logo {
    width: 4rem;
    transition: 0.3s ease-in-out;

    &:hover {
      transform: scale(1.05);
    }
  }
  nav {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
    width: 15%;
  }

  a {
    display: gird;
    place-content: center;
    cursor: pointer;
    color: #505050;
    font-size: 1.5rem;

    svg {
      transition: 0.3s all;
    }

    &:hover {
      color: $blue;

      svg {
        transform: scale(1.1);
      }
    }
    &:last-child {
      margin: 0;
    }
  }
}
