@import "./sass.variables.scss";
@import "./sass.mixins.scss";
@import "./sass.resets.scss";
@import "./components/Header.scss";
@import "./components/Banner.scss";
@import "./components/BannerTexts.scss";
@import "./components/BannerAvatar.scss";

.container {
  width: 98%;
  margin-inline: auto;
  max-width: 1550px;
}
